<div id="user-container-view">
  <div id="user-logged-out">
    <div id="home-link-container">
      <a href="/" id="home-link">Voltar</a>
    </div>
    <div>
      <h2>Oopss...</h2>
      <p id="alert-txt">
        Você não está logado. Mas você pode fazer o login agora mesmo ou voltar para a tela inicial
      </p>
    </div>
    <div id="open-session-form">
      <button class="button-primary" id="container-view-call-session-form" type="button">
        Login
      </button>
    </div>
  </div>
</div>
