<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="application-name" content="Kizup" />
<meta name="keywords" content="kizup, quiz, quizzes, jogo, Quiz, Quizzes" />
<meta name="description"
  content="Kizup - Crie e compartilhe quizzes! Construa e descubra quem está no topo do ranking entre seus amigos!" />
<meta name="author" content="Gabriel Henrique da Silva - odev.gabriel@gmail.com" />
<meta name="HandheldFriendly" content="true" />
<meta name="apple-mobile-web-app-title" content="Kizup" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#03030a" />
<meta name="theme-color" content="#03030a" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="pt-BR" />
<title>Kizup</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<link rel="index" title="Kizup - Index" href="/" />
<link rel="shortcut icon" type="image/x-icon" href="/static/icons/favicon.ico" />
<link rel="stylesheet" href="/static/css/master.css" />
<link rel="stylesheet" href="/static/css/cssfragments/header/home-header.css" />
<link rel="stylesheet" href="/static/css/cssfragments/body/generic-body.css" />
<link rel="stylesheet" href="/static/css/anim/shake.css" />
<link rel="stylesheet" href="/static/css/utils/toaster-component.css" />
<link rel="stylesheet" href="/static/css/utils/scrollbar.css" />
<script src="/static/javascript/kizup.bundle.min.js" defer></script>